<div class="col-md-4">
    <h2>Account data</h2>
    <p>Nickname: {{AccountName}}</p>
    <p>First Name: {{AccountFirstName}}</p>
    <p>Last Name: {{AccountLastName}}</p>
    <p>Age: {{AccountAge}}</p>
</div>
<div class="col-md-8">
    <form action="" method="POST" style="margin-top: 30px;">
        <input type="text" name="search" class="form-control" placeholder="Search Account:" style="width: 100%; margin-bottom: 15px;">
        <input class="btn btn-primary" type="submit" value="Search">
    </form>
    <hr>
    {% if AccountSearchResult %}
    <h3>Search results:</h3>
    <table class="table table-bordered">
        <tr>
            <th>Nickname</th>
            <th>FirstName</th>
            <th>Lastname</th>
            <th>Age</th>
        </tr>
        {% for AccountSearchResultRow in AccountSearchResult %}
        <tr>
            <td>{{ AccountSearchResultRow.nickname }}</td>
            <td>{{ AccountSearchResultRow.firstname }}</td>
            <td>{{ AccountSearchResultRow.lastname }}</td>
            <td>{{ AccountSearchResultRow.age }}</td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    {% endif %}
</div>