<div class="col-md-9">
    <h2>Custom query</h2>
    <form action="/query" method="post" style="width: 100%;">
        <textarea style="width: 100%; margin-bottom: 15px;" name="q" class="form-control input-group"></textarea>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    <hr>
    {% if queryContent %}
    <table class="table table-bordered">
        <tr>
            {% for key,item in queryContent[0] %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
        {% for queryContentRow in queryContent %}
        <tr>
            {% for queryContentRowItem in queryContentRow %}
            <td>{{ queryContentRowItem }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <hr>
    {% endif %}

</div>